@model Continental.API.Core.Contracts.Entities.MovimientosResponse

<!DOCTYPE html>
<html>
<head>
    <title>Reporte</title>
</head>
<body>
    <h1>Reporte de Movimientos</h1>
    @if (model != null && model.Any())
    {
        <table>
            <thead>
                <tr>
                    <th>ID Movimiento</th>
                    <th>Fecha</th>
                    <th>Detalle</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var movimiento in model)
                
                    <tr>
                        <td>movimiento.</td>
                        <td>@movimiento.Fecha.ToString("dd/MM/yyyy")</td>
                        <td>@movimiento.Detalle</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No se encontraron movimientos para mostrar.</p>
    }
</body>
</html>
